.studentA {
    float: left;

    margin-right: 3px;
    padding: 7px;

    background-color: pink;
    color: red;
}

.studentB {
    float: left;

    margin-left: 7px;
    padding: 3px;

    background-color: grey;
    color: black;
}